@mixin lg {
  @media (max-width: (1190px)) {
    @content;
  }
}

@mixin md {
  @media (max-width: (768px)) {
    @content;
  }
}

@mixin sm {
  @media (max-width: (540px)) {
    @content;
  }
}

.footer {
  padding: 100px 0;
  overflow: hidden;

  @include md {
    flex-direction: column-reverse;
  }

  &__logo {
    margin-bottom: 20px;

    @include md {
      margin-bottom: 0;
    }

    a {
      color: #141718;
      transition: color .3s ease-in-out;

      &:hover {
        color: #d41a3b;

      }

    }
  }

  .social {
    display: flex;
    flex-direction: row;
    gap: 20px;

    &_link {
      width: 48px;

      svg {
        transition: fill .3s ease-in-out;
        width: 100%;
        height: 100%;
      }

      &:hover {
        svg {
          fill: #d41a3b;
        }
      }
    }
  }


  &__contact {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400;

    h3 {
      font-weight: 600;
      color: #52575C;
      font-size: 18px;
      margin-bottom: 10px;
    }

    a {
      font-size: 18px;
      color: #141718;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #d41a3b;
        transform: translateX(7px);
      }
    }

    &_phone {}
  }

  &_top {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;

    @include md {
      width: 100%;
      margin-top: 20px;
      flex-direction: row;
      align-items: flex-end;
      // justify-content: flex-end;
    }
  }

  &_bot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;

    @include md {
      flex-direction: column;
    }
  }
}
